<!DOCTYPE html>
<html>
  <head>
    <title>智慧农业-灌溉系统</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%/* If you want to discourage search engines from indexing this site, uncomment the following line: */%>
    <%/* <meta name="robots" content="noindex"> */%>




    <!--STYLES-->
    <link rel="stylesheet" href="/styles/demo.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/normalize.css">
    <link rel="stylesheet" href="/styles/ns-default.css">
    <link rel="stylesheet" href="/styles/ns-style-attached.css">
    <link rel="stylesheet" href="/styles/ns-style-bar.css">
    <link rel="stylesheet" href="/styles/ns-style-growl.css">
    <link rel="stylesheet" href="/styles/ns-style-other.css">
    <!--STYLES END-->
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body class="color-1">
    <%- body %>
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript" charset="utf-8"></script>

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/notificationFx.js"></script>
    <script src="/js/snap.svg-min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
