<div class="container">



<header>

<h1><strong>灯光管理</strong></h1>
<h2></h2>



</header>

<section class="main">

  <div class="switch demo1 switch-button01 ">
    <input type="checkbox">
    <label></label>

  </div>

  <div class="switch demo1 switch-button02">
    <input type="checkbox">
    <label></label>
  </div>

</section>
</div>
